.text-title {
    font-family: 'Roboto', sans-serif;
    color: #EB5819;
    font-weight: bold;
    align-self:center;
    font-size: 32px;
    

  }
.btn {
    border-radius: 8px;
    background-color: #EB5819;
    color:#fff !important;
    text-decoration: none !important;
  }
  .btn2 {
    border-radius: 8px;
    background-color: #000000;
    color:#fff !important;
    position:absolute;
    text-decoration: none !important;

  }
  .btn2-mobile {
    display: none;
    background-color: #000000;
    color: #fff !important;
    text-decoration: none !important;
    width: 100%;
    margin: 20px;
}

@media only screen and (max-width: 990px) {
    .btn2-mobile {
        display:block;
    }
    .btn2 {
        display: none;
    }
}
.price {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: #343434;
    font-weight: bold;
}

.sub-title {
    color: #EB5819;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.selodias {
    color: #EB5819;

}
h1 {
    color: black;
}
.conheca {
    background: #D4D9D6;
}

.logo-footer {
    font-family: 'Roboto', sans-serif;
    color: #EB5819 !important;
    font-weight: bold;
    width: 100%;
    font-size: 1.5em;
    text-decoration: none !important;
  }
